<div id="overall-header">
    <div class="inner-wrapper">
        <a href="./" id="header-brand">
            <div class="brand-logo"></div>
            <div class="brand-name">pixcoin</div>
        </a>
        <div id="header-menu">
            <nav>
                <ul>
                    <li>
                        <a href="http://pixcoin.org">Home</a>
                    </li>
                    <li>
                        <a href="http://pixcoin.org/download">Download</a>
                    </li>
                    <li>
                        <a href="http://pix.do?utm_source=pixcoin-faq">Earn</a>
                    </li>
                    <li>
                        <a href="http://pixcoin.org/mine">Mine</a>
                    </li>
                    <li>
                        <a href="./">FAQ</a>
                    </li>
                    <li>
                        <a href="http://pixcoin.org/community">Community</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>